@import url("https://fonts.googleapis.com/css?family=Anton|Arima+Madurai|Fredoka+One|Handlee|Patua+One");
#troubleshooting::before {
  content: ' ';
  display: block;
  background-image: url("../../assets/images/dogWithBall.JPG");
  background-position: 63%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: -10; }

#troubleshooting {
  display: flex;
  flex-direction: column;
  align-items: center; }

.qa {
  align-self: flex-start;
  padding: 24px;
  background: rgba(77, 182, 172, 0.8);
  display: grid;
  grid-template-columns: 1fr 999fr;
  grid-template-areas: 'arrow q' '. a'; }

.qa-question {
  margin-bottom: 10px;
  grid-area: q; }

.qa-button {
  grid-area: arrow;
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: 10px; }

.arrow-down {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

.qa-answer {
  grid-area: a;
  font-size: 1.1em;
  line-height: 25px;
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -ms-animation: fadein 1s;
  -o-animation: fadein 1s;
  animation: fadein 1s; }
  .qa-answer .generated-link-text {
    color: white;
    font-weight: bold; }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  tod {
    opacity: 1; } }

@-moz-keyframes fadein {
  from {
    opacity: 0; }
  tod {
    opacity: 1; } }

@-ms-keyframes fadein {
  from {
    opacity: 0; }
  tod {
    opacity: 1; } }

@keyframes fadein {
  from {
    opacity: 0; }
  tod {
    opacity: 1; } }

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.qa-a {
  font-family: "Anton", sans-serif;
  font-size: 1.2em; }
