@import 'colors'

// Theme 1
$lighterColor: $lightBlueLighten4
$lightColor: $tealLighten2
$lightColorClear: $tealLighten2Clear
$mediumColor: $cyanDarken2
$darkColor: $tealDarken4
$contrastColor: $salmon
