@import 'colors'
@import url('https://fonts.googleapis.com/css?family=Anton|Arima+Madurai|Fredoka+One|Handlee|Patua+One')

// Theme 1
$lighterColor: $lightBlueLighten4
$lighterColorClear: $lightBlueLighten4Clear

$lightColor: $tealLighten2
$lightColorClear: $tealLighten2Clear

$mediumColor: $cyanDarken2
$mediumColorClear: $cyanDarken2Clear

$darkColor: $tealDarken4
$darkColorClear: $tealDarken4Clear

$contrastColor: $salmon
$contrastColorClear: $salmonClear


$headerFont: 'Anton', sans-serif
// $headerFont: 'Patua One', cursive
// $headerFont: 'Fredoka One', cursive

$mainFont: 'Handlee', cursive
// $mainFont: 'Arima Madurai', cursive
