/* iPhone 5, Orientation: Portrait */
.home-parallax-img {
  width: 100vh; }

.home-parallax {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px; }

.home-logo {
  width: 80vw; }
