/* Mobile, Orientation: Portrait */
#home::before {
  content: ' ';
  display: block;
  background-image: url("../../assets/images/pensiveDog.JPG");
  background-position: 55%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: -10; }

#home {
  display: flex;
  flex-direction: column;
  align-items: center; }

.logo-desktop {
  display: none; }

/* Mobile, Orientation: Landscape */
@media (orientation: landscape) {
  #home::before {
    background-position: 0%;
    top: 40px; } }

/* Desktop View */
@media (min-width: 1024px) and (orientation: portrait), (min-width: 1024px) and (orientation: landscape) {
  #home::before {
    background-image: url("../../assets/images/sittingDog.JPG");
    background-position: 55% 50%;
    background-size: cover;
    height: 100vh; }
  .logo-desktop {
    display: block;
    margin: 24px;
    width: 35vw;
    align-self: flex-end; } }
