@import url("https://fonts.googleapis.com/css?family=Anton|Arima+Madurai|Fredoka+One|Handlee|Patua+One");
/* Mobile */
#footer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 50px; }

.certification-websites {
  display: flex;
  padding: 10px; }

.adpt-logo, .catch-logo {
  width: 50px;
  height: 50px;
  margin: 5px; }

/* Desktop */
@media (min-width: 1024px) {
  .adpt-logo, .catch-logo {
    width: 80px;
    height: 80px;
    margin: 10px; } }
