@import url("https://fonts.googleapis.com/css?family=Anton|Arima+Madurai|Fredoka+One|Handlee|Patua+One");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit; }

body {
  font-family: "Handlee", cursive; }

h1 {
  font-size: 2em;
  font-family: "Anton", sans-serif; }

h2 {
  font-size: 1.5em;
  font-family: "Anton", sans-serif; }

h3 {
  font-size: 1.17em;
  font-family: "Anton", sans-serif; }

h4 {
  font-size: 1.12em;
  font-family: "Anton", sans-serif; }

h5 {
  font-size: .83em;
  font-family: "Anton", sans-serif; }

h6 {
  font-size: .75em;
  font-family: "Anton", sans-serif; }

.main-header, .secondary-header {
  color: white;
  margin: 24px; }

.tertiary-header {
  color: black;
  background: rgba(255, 140, 105, 0.8);
  width: 100vw;
  padding: 10px 0;
  text-align: center;
  margin-top: 24px; }
